.alert {
    display: flex;
    width: 24rem;
    font-weight: 700;
    margin: 4rem auto;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.alert--error {
    background-color: var(--pastel-red-300);
    color: var(--pastel-red-800);
}

.alert--info {
    background-color: var(--pastel-blue-300);
    color: var(--pastel-blue-800);
}

.alert--warning {
    background-color: var(--pastel-yellow-50);
    color: var(--pastel-yellow-800);
}

